.navigate-link{
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 5px 20px;
  background-color: cadetblue;
}

.navigate-container{
  padding: 10px;
}

.active{
  background-color: blueviolet;
}